<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="add-driver">
  <div class="payments row">
    <div class="col-lg-3 col-md-12">
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="col-12 side-icon">
            <span class="material-symbols-outlined">add</span>
            <span>{{ 'AddPayment_Payment' | translate }}</span>
          </div>
          <div class="col-12 row m-0 p-0">
            <div class="col-12 mb-3">
              <div class="p-float-label">
              
              </div>
            </div>

           

            <div class="col-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" formControlName="name"  id="input" />
                <label>{{ 'Name' | translate }}</label>
                <span *ngIf="submitted && form['name'].errors" class="error-validation">{{ 'Field Required' | translate }}</span>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="p-float-label">
                <input pInputText type="text" formControlName="value" id="input"/>
                <label>{{ 'Value' | translate }}</label>
                <span *ngIf="submitted && form['value'].errors" class="error-validation">{{ 'Field Required' | translate }}</span>
              </div>
            </div>
            <div class="col-12 mb-3">
              <div class="p-float-label">
                <p-dropdown [options]="currency" [(ngModel)]="selectedCurrency" formControlName="currency"></p-dropdown>
                <label id="month">{{ 'Currency' | translate }}</label>
                <small *ngIf="submitted && form['currency'].errors" class="errorValidation" id="username1-help">
                  {{ 'Field_Requierd' | translate }}
                </small>
              </div>
            </div>

         

            <div class="col-xs-12 mb-3" id="save">
              <p-button type="Submit" class="btn-primary" label="{{ 'Generated' | translate }}" [loading]="btnLoading"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-9 col-md-12">
      <div class="box-shadow mb-3">
        <div class="row">
          <div class="col-12 side-icon">
            <span class="material-symbols-outlined">list</span>
            <span>{{'Payments' | translate}}</span>
          </div>
          <div class="row mb-2 mx-0 p-0 shift-up">
          
            <p-accordion class="p-0">
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <div class="flex align-items-center">
                    <span class="material-symbols-outlined">tune</span>
                  </div>
                </ng-template>
                <ng-template pTemplate="content">
                  <div class="m-0 row">
                    <div class="filter-title">
                      <span class="material-symbols-outlined">filter_alt</span>
                      <span>Filter By</span>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mt-3">
                      <div class="p-float-label">
                        
                      </div>
                    </div>
                    <div class="col mt-3 text-end">
                      <p-button class="btn-outline-secondary" (onClick)="resetform()">
                        <span class="material-symbols-outlined">restart_alt</span>
                      </p-button>
                    </div>
                  </div>
                </ng-template>
              </p-accordionTab>
            </p-accordion>
          </div>

          <div class="container col-12 row mx-0 mt-2">
            <div *ngFor="let row of data">
              <div class="card mx-0 mb-2">
                <div class="card__left">
                  <div class="card__image">
                    <img src="../../../../../assets/images/invoice.jpg" />
                  </div>
                </div>
                <div class="card__contents">
                 
                  
                   
                  
                  <div class="container2">
                    <div class="card__contents__item">
                      <div class="card-label">{{ 'Name' | translate }}</div>
                      <div class="card-info">{{ row.name }}</div>
                    </div>
                    <div class="amount">
                    <div class="card__contents__item">
                      <div class="card-label">{{ 'Value' | translate }}</div>
                      <div class="card-info">{{ row.value }}</div>
                    </div>
                    <div class="card__contents__item">
                      <div class="card-label">{{ 'Currency' | translate }}</div>
                      <div class="card-info">{{ row.currency }} </div>
                    </div>
                  </div>
                    <div class="card__contents__item">
                      <div class="card-label">{{ 'Link' | translate }}</div>
                      <div class="card-info">{{ row.link }} </div>
                    </div>
                   
                   
                  </div>
                </div>
                <div class="edit">
                  <div class="card__actions">
                    <span [matMenuTriggerFor]="menu" class="material-symbols-outlined card__actions__details">more_vert</span>
                    <mat-menu #menu="matMenu">
                      
                      <button mat-menu-item>
                        <span class="material-symbols-outlined">delete</span>
                        {{ 'Delete_Payment' | translate }}
                      </button>
                    </mat-menu>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[4, 12, 20, 30]" (onPageChange)="paginate($event)"></p-paginator>
        </div>
      </div>
    </div>

   
  </div>
</form>
<p-toast key="toast"></p-toast>
