@import "../../../../../assets/scss/varialbles.scss";

.payments {

    ::ng-deep .p-accordion {
        & .p-accordion-header {
          display: flex;
          justify-content: flex-end;
          margin-top: -3rem;
    
          &:lang(ar) {
            right: unset;
            left: 2rem;
            direction: ltr;
            position: absolute;
            // top: 1rem;
          }
    
          & .p-accordion-header-link {
            padding: 0.5rem 0.75rem;
            border-radius: 6px;
            background-color: $white-color;
            border-color: $light-gray;
            top: 1px;
            color: $primary-color;
            right: 0.75rem;
    
            & chevronrighticon,
            & chevrondownicon {
              display: none;
            }
    
            &:lang(ar){
                top: 0;
              right: 0;
            }
          }
        }
    
        & .p-accordion-content {
          border-radius: 6px;
          position: relative;
          top: 0.75rem;
          padding: 0 0rem 0.75rem;
          border: none;
          border: 1px solid $lighter-gray;
          margin: 0.5rem .75rem 0.5rem 0;
        }
      }
    
      & .filter-title{
        display: flex;
        align-items: center;
        border-inline-end: 1px solid rgba($light-purple, .5);
        margin-top: 0.75rem;
        width: 12%;
        justify-content: space-evenly;
    
        & .material-symbols-outlined{
          color: $blue-color;
          top: 0;
        }
      }
    
      & .filter-field{
        display: flex;
    
        & label{
          display: flex;
          align-items: center;
          margin-inline-end: .5rem;
        }
    
        & p-dropdown, & p-calendar{
          flex-grow: 2;
        }
      }
      #tune{
        // margin-top: 2rem;
        background-color: red;
      }
    .box{
      @media(min-width:992px){
        margin-left: 32rem;
      }
      
      @media(max-width:767px){
        width: 12rem;
        margin-left: 1rem;
      }
    }
      &__search {
        margin-inline-end: 8rem;
    
        & .search-field{
          border-color: $light-gray;
        }
      }

      & .shift-up{
       top: -1rem;
       
      

        @media (max-width: 991px) {
            margin-top: unset;
          }
      }
      #month{
        color: #6c757d;
      }
     

  & .box-shadow {
    border: 1px solid $lighter-gray;
    border-radius: 6px;
    padding: 1.7rem;
    background-color: $white-color;

    & .side-icon {
        background-color: $chips-color;
        color: $blue-color;
        margin-right: 1rem;
        border-radius: 6px;
        padding: 0.25rem 1rem;
        position: relative;
        left: -2rem;
        min-width: 220px;
        top: -1rem;
        width: unset;
    
        & .material-symbols-outlined {
          margin-inline-end: .5rem;

          &:lang(ar){
            margin-inline-start: .5rem;
            margin-inline-end: unset;
          }
        }
    
        &__icon{
          position: relative;
          top: -0.25rem;
          padding: 0.5rem;
        }
    
        &:lang(ar){
          left: unset;
          right: -3rem;
        }
      }
  }

  & .items-info {
    ::ng-deep .upload-images {
      box-shadow: none;
      padding-top: 0;
    }
  }

  .counter-label {
    left: 3.5rem;

    &:lang(ar) {
      left: unset;
      right: 3.5rem;
    }
  }


  .btn-outline {
    ::ng-deep .p-button {
      width: 100%;
    }
  }
  #save{
    width: 100%;
   
    p-button{
      background-color: #EF5253;
  padding-left: 4rem;
  padding-right: 4.5rem;
  border-radius: 6px;
  @media(max-width:767px){
    padding-left: 6rem;
    padding-right: 6rem;

  }
  @media (max-width: 991px) and (min-width: 768px) {
    padding-left: 16rem;
    padding-right: 16rem;
  }
    }
  }
.container{
  max-height: 30rem;
  overflow-y: auto;
}
  & .card {
    border-color: rgba($light-purple, 0.5);
    display: flex;
    flex-direction: row;
    padding: 0.75rem 0.75rem;
    row-gap: 0.5rem;
    @media(max-width:767px){
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      // justify-content: space-evenly;
    }

    &__image{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      clip-path: circle(50% at 50% 50%);
      position: relative;

      & img{
          width: fit-content;
          height: 100%;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
      }
  }

    & .name-ID {
      @media(max-width:767px){
        width: 90%;
      }


      & .name {
        font-family: myfont-bold, myfont-ar-bold;
        font-size: $large-font;
      }

      & .item__ID{
        color: $gray-color;
        opacity: .7;
      }
    }

    &__contents {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
     
      flex-wrap: wrap;
      width: 70%;
      .container2{
        display: flex;
        @media(max-width: 767px){
          flex-direction: column;

        }
      }

      &__item {
        padding-inline-start: 1rem;

        @media (max-width: 790px) {
          width: unset;
        }
      }

      @media (max-width: 991px) {
        margin-top: 1rem;
      }
    }
    .edit{
      display: flex;
      align-items: center;
    }

    &-label {
      font-size: $small-font;
      color: $gray-color;
      opacity: 0.5;
      font-family: myfont-semibold, myfont-ar-semibold;
    }

    &-info {
      font-family: myfont-semibold, myfont-ar-semibold;
      height: 40px;
      line-height: 40px;

      & .material-symbols-outlined {
        color: $blue-color;
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    // border-inline-start: 1px solid rgba($light-purple, 0.5);
      cursor: pointer;

      &__details {
        font-size: $xl-icon;
        color: $primary-color;

        &:lang(ar){
            transform: rotate(180deg);
        }
      }

      @media (max-width: 991px) {
        width: unset;
        border-inline-start: none;
        // border-block-start: 1px solid rgba($light-purple, 0.5);
      }
    }
  }
}

//responsive
@media screen and (max-width: 990px) {
    .filter-title {
      width: 100% !important;
      justify-content: start !important;
    }
  }